SynapseWorkspace/pipeline/IngestToStageDW.json
{
	"name": "IngestToStageDW",
	"properties": {
		"activities": [
			{
				"name": "GetStagePartitions",
				"description": "exec sp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ME_Stage].[sp_GetStagePartitions]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "me_config_dw",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetStagePartitions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetStagePartitions').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RAWtoStage",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DatasetID": {
										"value": "@{item().DatasetID}",
										"type": "Expression"
									},
									"PARTITIONSTRING": {
										"value": "@{item().Partition_String}",
										"type": "Expression"
									},
									"Partitionid": {
										"value": "@{item().ID}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MetadataEngine/ParentPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-14T01:31:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}